# App
ENV=dev
APP_NAME=go-starter
APP_PROTOCOL=http
APP_DOMAIN=localhost
API_VERSION=1
PORT=8000
NGINX_PORT=443
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

# Database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=starter
DB_SSLMODE=disable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=starter

# Auth
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_ACCESS_TOKEN_EXPIRY=3600
JWT_REFRESH_TOKEN_EXPIRY=604800
JWT_ALGO=HS256

# Cookies
COOKIES_SECURE=true
COOKIES_SAME_SITE=lax

# CORS
CORS_ORIGINS=["*"]
CORS_CREDENTIALS=true

# S3
S3_PORT=9000
S3_DOMAIN=s3
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=starter
S3_BUCKET_EXPIRY=604800
